{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/home/home.css" %}">
{% endblock %}

{% block content %}
<!-- Banners -->
<div class="templatemo_headerimage">
  <div class="flexslider">
    <ul class="slides">
      {% for banner in banners %}
      <li><img src="{{banner.image.url}}"/></li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- service start -->
{% if 3_last_products %}
<div class="templatemo_servicewrapper" id="templatemo_service_page">
    <div class="container">
        <div class="row">
                <h1>Product</h1>
                {% for product in 3_last_products %}
                <div class="col-md-3 col-sm-6">
                    <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
                        <div class="templatemo_serviceicon"><span><img src="{{product.image.url}}"/></span></div>
                        <div class="templatemo_service_title">{{ product.name }}</div>
                        <div class="templatemo_service_title">content: {{ product.content }}</div>
                        <div class="templatemo_service_title">characteristics: {{ product.characteristics }}</div>
                        <div class="templatemo_service_title">price: {{ product.price }}</div>
                        <div class="templatemo_service_title">promotion:
                            {% for promo in product.promotion.all %}
                                {% if not promo.is_deleted%}
                                    {{ promo.title }},
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- Enter NEWS start -->
{% if 3_latest_news %}
<div class="templatemo_servicewrapper" id="templatemo_service_page">
  <div class="container">
    <div class="row">
      <h1>Latest news</h1>
      {% for new in 3_latest_news %}
      <div class="col-md-3 col-sm-6">
        <div class="templatemo_servicebox margin_bottom_1col margin_bottom_2col">
          <div class="templatemo_serviceicon"><span><img src="{{ new.image.url }}"/></span></div>
          <div class="templatemo_service_title">{{ new.title }}</div>
          <div class="templatemo_service_title">{{ new.date_posted }}</div>
            <p>
              {{new.short_content}}
                <a href="news/{{ new.slug }}">Continue...</a>
            </p>
          </div>
                  
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
</div>
{% endblock %}
