{% load static %}

<div id="templatemo_home_page">
  <div class="templatemo_topbar">
    <div class="container">
      <div class="row">
        <div class="templatemo_titlewrapper"><img src="{% static "images/templatemo_logobg.png" %}" alt="logo background">
          <div class="templatemo_title"><span>DevSite</span></div>
        </div>
        <div class="clear"></div>
        <div class="templatemo_titlewrappersmall">DevSite</div>
        <nav class="navbar navbar-default templatemo_menu" role="navigation">
          <div class="container-fluid"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="top-menu">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="width: 800px;">
                  <li><a class="menu" href="">Home</a></li>
                  <li><a class="menu" href="">Services</a></li>
                  <li><a class="menu" href="news/">News</a></li>
                  <li><a class="menu" href="">Reviews</a></li>
                  <li><a class="menu" href="">Contact</a></li>
                  <li><a class="menu" href="">Sign In</a></li>
                  <li><a class="menu" href="">Sign Up</a></li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse --> 
          </div>
          <!-- /.container-fluid --> 
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="templatemo_headerimage">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="{% static "images/slider/1.jpg" %}" alt="Slide 1"></li>
        <li><img src="{% static "images/slider/2.jpg" %}" alt="Slide 2"></li>
      </ul>
    </div>
  </div>
</div>

